<div class="lmargin"></div>
<div class="index">

		<div class="question">
			<div class="information"> <!-- header -->
				Asked by <%= @question.user.name %><br />
				Categories: <%= @question.tag %>
			</div>
			<a href='/questions/<%= @question.id %>'><h3><%= @question.title %></h3></a>
			<p><%= @question.description %></p><br />
			<div class="answer"><%= @question.answers.count %> answers</div>
			<div class = "question_options">
			<% if logged_in && current_user.id == @question.user_id %>
				<%= own_q_votes(@question.id) %>
				<span class="middle"></span>
				<%= edit_delete_question(@question.id) %>
			<% else %>
				<%= vote_question(@question.id) %>
				<span class="middle"></span>
				<%= answer_question(@question.id) %>
			<% end %>
			</div>
		</div>

<!-- show answers for this question -->
<% if @question.answers.first %>
	<% @question.answers.each do |answer| %>
		<div class="answerWrapper">
			<div class="information">
				<a href="/users/<%= answer.user_id %>"><%= answer.user.name %></a> • 
				<%= answer.updated_at == answer.created_at ? "Answered on" : "Edited on" %>
				<%= answer.updated_at.strftime('%b %d, %Y') %>
			</div>
			<div class="answerText"><%= answer.text %></div>
			<% if logged_in && current_user.id == answer.user_id %>
				<div class = "question_options">
					<%= own_a_votes(answer.id) %>
					<span class="middle"></span>
					<%= edit_delete_answer(@question.id, answer.id) %>
				</div>
			<% else %>
				<%= vote_answer(answer.id) %>
			<% end %>
		</div>
	<% end %>
<% else %>
	<div class="answerWrapper">
		This question has not been answered yet :(
	</div>
<% end %>
</div>
<div class="rmargin"></div>