<%= @user.name %>'s questions<br />
<% if @user.questions %>
	<% @user.questions.each do |q| %>
		<h3><%= q.title %></h3><br />
		<%= q.description %><br /><br />
		<% if current_user.id == q.user_id %>
			<%= edit_delete_question %>
		<% else %>
			<%= answer_question %>
		<% end %>
	<% end %>
<% end %>