<div class="lmargin"></div>
<div class="index">
	<a href='/questions/<%= @answer.question.id %>'><h3><%= @answer.question.title %></h3></a>
	<div class="editBox">
		<form method="post" action="/questions/<%= @answer.question.id %>/answers/<%= @answer.id %>">
			<input type="hidden" name="_method" value="put">
			<textarea name="answer[text]" rows="10" cols="50" required><%= @answer.text %></textarea>
			<br />
			<input type="submit" value="Update answer">
		</form>
	</div>
</div>
<div class="rmargin"></div>