<h2><a href='/questions/<%= @question.id %>'><%= @question.title %></a></h2><br />
<%= @question.description %><br /><br />

<%= @answer.user.name %><br />
<%= @answer.text %><br />
<%= @answer.created_at %><br />
<% if current_user.id == @answer.user_id %>
	<form action="/questions/<%= @question.id %>/answers/<%= @answer.id %>/edit" method="edit">
		<input type="submit" value="Edit">
	</form>
	<form action="/questions/<%= @question.id %>/answers/<%= @answer.id %>" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Delete">
	</form>
<% end %>
